LED_ENABLED=true
SDL_VIDEODRIVER=dummy
LED_ROWS=64
LED_COLS=64
LED_CHAIN=8
LED_PARALLEL=1
LED_SLOWDOWN_GPIO=4
LED_PIXEL_MAPPER=

PANEL_ROWS=1
PANEL_COLS=8

MQTT_HOST=hass.local
MQTT_PORT=1883
MQTT_USER=mqtt
MQTT_PASSWORD=password

DEVICE_NAME=default