AUTO_SETUP_LOCALE=C.UTF-8
AUTO_SETUP_KEYBOARD_LAYOUT=gb
AUTO_SETUP_TIMEZONE=Europe/London

AUTO_SETUP_NET_ETHERNET_ENABLED=1
AUTO_SETUP_NET_ETH_FORCE_SPEED=0
AUTO_SETUP_NET_WIFI_COUNTRY_CODE=GB

AUTO_SETUP_NET_USESTATIC=0
AUTO_SETUP_DHCP_TO_STATIC=0
AUTO_SETUP_NET_HOSTNAME=rgbmatrix
AUTO_SETUP_BOOT_WAIT_FOR_NETWORK=1

AUTO_SETUP_SWAPFILE_SIZE=1
AUTO_SETUP_SWAPFILE_LOCATION=/var/swap
AUTO_SETUP_HEADLESS=1
AUTO_UNMASK_LOGIND=1

AUTO_SETUP_CUSTOM_SCRIPT_EXEC=0
AUTO_SETUP_BACKUP_RESTORE=0
AUTO_SETUP_SSH_SERVER_INDEX=-2
# AUTO_SETUP_SSH_PUBKEY=ssh-ed25519 AAAAAAAA111111111111BBBBBBBBBBBB222222222222cccccccccccc333333333333 mySSHkey

AUTO_SETUP_LOGGING_INDEX=-1
AUTO_SETUP_RAMLOG_MAXSIZE=50

AUTO_SETUP_WEB_SERVER_INDEX=0
AUTO_SETUP_DESKTOP_INDEX=0
AUTO_SETUP_BROWSER_INDEX=0
AUTO_SETUP_AUTOSTART_TARGET_INDEX=0
# AUTO_SETUP_AUTOSTART_LOGIN_USER=root

AUTO_SETUP_AUTOMATED=1
AUTO_SETUP_GLOBAL_PASSWORD=password

AUTO_SETUP_INSTALL_SOFTWARE_ID=16
AUTO_SETUP_INSTALL_SOFTWARE_ID=17
AUTO_SETUP_INSTALL_SOFTWARE_ID=20
AUTO_SETUP_INSTALL_SOFTWARE_ID=130

SURVEY_OPTED_IN=0

CONFIG_CHECK_DIETPI_UPDATES=1
CONFIG_CHECK_APT_UPDATES=2
CONFIG_NTP_MODE=3

SOFTWARE_DISABLE_SSH_PASSWORD_LOGINS=0