[Unit]
Description=RGB Matrix

[Service]
WorkingDirectory=/home/louis/data/dev/pygame-rgb-matrix
ExecStart=/bin/bash ./scripts/start.sh
Environment=PYTHONUNBUFFERED=1
Restart=always
Type=simple

[Install]
WantedBy=default.target