[Unit]
Description=RGB Matrix

[Service]
WorkingDirectory=/opt/rgbmatrix
ExecStart=/bin/bash -c "cd /opt/rgbmatrix/src && /opt/rgbmatrix/venv/bin/python -m app"
Environment=PYTHONUNBUFFERED=1
Restart=always
Type=simple
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
