[Unit]
Description=RGB Matrix

[Service]
ExecStart=/opt/pygame-rgb-matrix/venv/bin/python /opt/pygame-rgb-matrix/src/main.py
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/etc/default/%p
Restart=always
Type=simple

[Install]
WantedBy=default.target